/*common body
==============*/
body {
background-color: lightyellow;
font-size: 14px;
font-family: verdana, Arial;
margin:0;
bordder-radius:5px;
}

/*headers
==========*/
h1 {
text-align: center;
font-family: impact;
font-size: 500%;
color: yellow;
}
h2 {
text-decoration: underline overline;
font-size: 300%;
background-color: black;
color:yellow;
padding: 7px;
text-align: center;
}

/*Common Classes
=================*/
.main {
background-color: grey;
font-size: 120%;
color: black;
min-height: 460px;
padding: 20px;
}

/*navbar*/
.navbar {
background-color: black;
color: white;
padding: 15px;
}
.navbar ul {
list-style: none;
text-align: center;
}
.navbar ul li {
display: inline;
}
.navbar ul li a {
text-decoration: none;
background-color: black;
color: white;
padding:10px;
}
.navbar ul li a:hover {
background-color: white;
color: black;
}

/*images*/
.image {
height: 200px;
}
.image:hover {
opacity: 0.6;
}

.footer {
background-color: #333300;
height: 25px;
padding: 5px;
}
/*Home Page
============*/
#header {
background-color: black;
padding: 20px;
}

/*box element*/
#box {
text-align: center;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}
#box li {
display: inline;
list-style: none;
}
#box li a {
text-decoration: none;
color: black;
padding: 100px;
border: solid 2px black;
}
#box a:hover {
color: white;
border: solid 2px white;
}

/*media queries
================*/
/*
@media only screen and (min-width: 600px) {
#box li (
display: block;
background-color: yellow;
}
#box li a {
color: white;
}
}
*/